/* Navbar.jsx */

.header,
.container {
  max-width: 34.375rem;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 2.125rem 1.625rem;
  background-color: #21222a;
}

.header__nav,
.nav__logo {
  display: flex;
  align-items: center;
}

.header__nav {
  justify-content: space-between;
}

.nav__logo {
  gap: 0.5rem;
}

.nav__logo > h3 {
  color: #61dafb;
  font-size: 1.375rem;
  font-weight: 700;
}

.logo {
  height: 1.75rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.nav__title {
  color: #deebf8;
  font-weight: 600;
}

/* Main.jsx */

main {
  background-image: url(".\assets\reactj_large.svg");
  background-repeat: no-repeat;
  background-position: right 75%;
}

.container {
  padding: 3.5rem 1.75rem;
}

.container > * {
  line-height: 1;
}

.page__title {
  font-size: 2.5rem;
  letter-spacing: -0.1rem;
}

.page__list {
  max-width: 27rem;
  margin: 2.875rem 0 0;
  padding: 0 0 0 2.875rem;
}

.list__item {
  margin-bottom: 1.125rem;
}

.list__item::marker {
  font-size: 1.5rem;
  color: #61dafb;
}
